@model AKR_LANDED_COST_FAME.Areas.Reports.Models.JournalMemorialViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(Model.Message))
{
    <script type='text/javascript'>
        alert('@Model.Message');
    </script>
}
<section class="content-header">
    <h1>
        Journal Memorial
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-24">
            <div class="box box-primary">
                @using (Html.BeginForm("Index", "JournalMemorial", FormMethod.Post, new { enctype = "multipart/form-data", id = "formID", @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">
                                PO Number
                            </label>
                            <div class="col-sm-3">
                                @(Html.Kendo().DropDownListFor(m => m.PONumbFA)
                                .OptionLabel("Select")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read => read.Action("GetPurchaseOrder", "JournalMemorial", new { Area = string.Empty })).ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" name="submit" id="submit" value="submit" class="btn btn-primary" onclick="return confSubmit(this.form);">VIEW</button>
                        </div>
                    </div>

                }
            </div>
        </div>
        @{
            var detailJurnal = Model.ListJournal;
            if (detailJurnal != null)
            {
                <div class="col-lg-12 col-xs-24">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                @{
                                    <table width="30%">
                                        <tr>
                                            <td>No. PO</td>
                                            <td>:</td>
                                            <td>@Model.PONumberFA</td>
                                        </tr>
                                    </table>
                                    <hr />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Account</th>
                                                <th>Description</th>
                                                <th class="text-right">Credit</th>
                                                <th width="40%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int RowID = 1;
                                                foreach (var itemDtl in Model.ListJournal)
                                                {
                                                    <tr>
                                                        <td>@RowID</td>
                                                        <td>@itemDtl.Account</td>
                                                        <td>@itemDtl.Description</td>
                                                        <td class="text-right">@itemDtl.Credit.ToString("Rp #,##0.000")</td>
                                                        <td></td>
                                                    </tr>
                                                    RowID++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <hr />

                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        }

    </div>
</section>