@model AKR_LANDED_COST_FAME.Areas.Transactions.Models.DetailLCViewModel
@using AKR_LANDED_COST_FAME.Models.ViewModel;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string msg = string.Empty;
    if (!string.IsNullOrEmpty(Model.Remarks))
    {
        msg = Model.Remarks;
    }
}
<style>
    div.k-edit-form-container {
        width: 800px;
        height: auto;
    }
</style>
<section class="content-header">
    <h1>
        Detail Data LC
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-xs-24">
            <div class="box box-primary">
                <div class="box-body form-horizontal">
                    @using (Html.BeginForm("Index", "DetailLC", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormDetailLC" }))
                    {
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.ActionType)
                        if (!string.IsNullOrEmpty(msg))
                        {
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                                @msg
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                Nomor PO F&A <span style="color:red">*</span>
                            </label>
                            <div class="col-sm-6">
                                @if (Model.POStatus == LCStatus.Approved)
                                {
                                    @Html.Kendo().TextBoxFor(model => model.PONumbFA).HtmlAttributes(new { style = "width: 100%;background-color:#eee;", @readonly = "readonly" })
                                }
                                else
                                {
                                    @(Html.Kendo().DropDownListFor(m => m.PONumbFA)
                                    .OptionLabel("Select")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => read.Action("GetPurchaseOrder", "DetailLC", new { Area = string.Empty })).ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                }

                            </div>
                            @*<button type="submit" name="submit" id="submit" value="export" class="btn btn-primary" onclick="return confExport(this.form);">Export Excel</button>
                                <button type="submit" name="submit" id="submit" value="submit" class="btn btn-primary" onclick="return confView(this.form);">View</button>*@
                        </div>


                        if (!string.IsNullOrEmpty(Model.PONumberFA))
                        {
                            <div class="col-lg-12 col-xs-24">
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <table width="100%" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Tipe Costing</th>
                                                    <th>Komponen Biaya</th>
                                                    <th class="text-right">Tariff</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    decimal totalAmountIDR = 0;
                                                    foreach (var item in Model.THandlingCost)
                                                    {
                                                        totalAmountIDR = totalAmountIDR + item.Tariff;
                                                        <tr>
                                                            <td>@item.TipeCosting</td>
                                                            <td>@item.KomponenBiaya</td>
                                                            <td class="text-right">@item.Tariff.ToString("#,##0.00000")</td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="text-right">@totalAmountIDR.ToString("#,##0.00000")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <hr />
                                        <table width="100%">
                                            <tr>
                                                <td width="24%">PO Number</td>
                                                <td width="1%" class="text-center">:</td>
                                                <td width="15%">@Model.PONumber</td>
                                                <td width="15%"></td>
                                                <td width="15%"></td>
                                                <td width="15%"></td>
                                                <td width="15%"></td>
                                            </tr>
                                            <tr>
                                                <td>PO Number F&A</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.PONumberFA</td>
                                            </tr>
                                            <tr>
                                                <td>Receipt Number  ("TTB")</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.TTBNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Item Product </td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.ItemCode</td>
                                            </tr>
                                            <tr>
                                                <td>Product Name </td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.ItemName</td>
                                            </tr>
                                            <tr>
                                                <td>Transport</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.Transport</td>
                                            </tr>
                                            <tr>
                                                <td>Supplier</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.SupplierName</td>
                                            </tr>
                                            <tr>
                                                <td>Code Supplier</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.SupplierCode</td>
                                            </tr>
                                            <tr>
                                                <td>PO Date</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.PODate.ToString("dd-MMM-yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>TANGGAL RECEIVED</td>
                                                <td class="text-center">:</td>
                                                <td colspan="5">@Model.ReceivedDate.ToString("dd-MMM-yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>QUANTITY BL</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@@Liter Obv</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.QTY_BL_OBV.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@@Liter 15C </td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.QTY_BL_15C.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>QUANTITY SFBD</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@@Liter Obv</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.QTY_SFBD_OBV.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@@Liter Obv</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.QTY_SFBD_OBV.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>QUANTITY RECEIVED</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@@Liter Obv</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.QTY_RECEIVED_OBV.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;@@Liter Obv</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.QTY_RECEIVED_15C.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Variance Quantity & Percentage :</td>
                                                <td class="text-center"></td>
                                                <td class="text-right"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Shore tank to BL</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.ShoreTankBL.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Shore tank to BL (%) </td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.ShoreTankBLPercentage.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Shore tank to SFBD </td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.ShoreTankSFBD.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Shore tank to SFBD (%) </td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.ShoreTankSFBDPercentage.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Po Cost </td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.POCost.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Detail Cost</td>
                                                <td class="text-center"></td>
                                                <td class="text-right">Amount (IDR)</td>
                                                <td class="text-right">Percentage</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Cost of product</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.CostOfProduct.ToString("#,##0.00000")</td>
                                                <td class="text-right">@Model.CostOfProductPercentage.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Handling cost</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.HandlingCost.ToString("#,##0.00000")</td>
                                                <td class="text-right">@Model.HandlingCostPercentage.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>TOTAL COST</td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.TotalCost.ToString("#,##0.00000")</td>
                                                <td class="text-right">@Model.TotalCostPercentage.ToString("#,##0.00000")</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Landed cost per Liter </td>
                                                <td class="text-center">:</td>
                                                <td class="text-right">@Model.LCPerLiter.ToString("#,##0.00000")</td>
                                                <td class="text-right"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>

                                        @(Html.Kendo().Window()
                                        .Name("WFHistory")
                                        .Title("Workflow History")
                                        .Iframe(true)
                                        .Visible(false)
                                        .Draggable(true)
                                        .Resizable()
                                        .Width(900)
                                        .Height(500)
                                    )

                                    </div>
                                </div>
                            </div>
                            if (Model.POStatus == LCStatus.DetailLC || string.IsNullOrEmpty(Model.PONumberFA))
                            {
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Remarks Approval<span style="color:red">*</span>
                                    </label>
                                    <div class="col-sm-10">
                                        @Html.Kendo().TextAreaFor(model => model.Remarks).Rows(2).HtmlAttributes(new { style = "width: 100%;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        Reject To Level <span style="color:red">*</span>
                                    </label>
                                    <div class="col-sm-4">
                                        @(Html.Kendo().DropDownListFor(m => m.RejectToLevel)
                                            .OptionLabel("Select")
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .Filter("contains")
                                            .DataSource(source =>
                                            {
                                                source.Read(read => read.Action("GetListLevel", "DetailLC", new { Area = string.Empty })).ServerFiltering(false);
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                </div>
                            }
                        }

                    }
                    <div class="form-group">
                        <div class="col-md-6" id="button">
                            <button type="button" class="btn btn-warning" onclick="openWindow(this)">View Workflow History</button>
                            <button type="button" name="submit" id="submit" value="submit" class="btn btn-primary" onclick="SubmitForm('@ActionType.View');">View</button>
                            <button type="button" name="submit" id="submit" value="submit" class="btn btn-primary" onclick="SubmitForm('@ActionType.Export');">Export</button>
                            @if (Model.POStatus == LCStatus.DetailLC || string.IsNullOrEmpty(Model.PONumberFA))
                            {
                                <button type="button" name="submit" id="submit" value="submit" class="btn btn-primary" onclick="SubmitForm('@ActionType.Reject');">Reject to level</button>
                                <button type="button" name="submit" id="submit" value="submit" class="btn btn-primary" onclick="SubmitForm('@ActionType.Approve');">Approve</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script type="text/javascript">
    function openWindow(element) {
        var PONumber = $("#@Html.IdFor(m=>m.PONumberFA)").val();
        if (PONumber != "") {
            var wdw = $("#WFHistory").getKendoWindow();
            wdw.refresh({ url: "/Transactions/InventoryBranch/WorkflowHistory?id=" + PONumber }).center().open();
        }
    }

    function SubmitForm(e) {
        console.log(e);
        $('#@Html.IdFor(m=>m.ActionType)').val(e);
        $('#@Html.IdFor(m=>m.ActionType)').trigger('change');
        if ($("#@Html.IdFor(m=>m.PONumberFA)").val() === "") {
            alert("PO Number F&A must be selected!.");
        } else {
            if (e === '@ActionType.Approve') {
                if (confirm("Are you really sure that you want to approve the data ?")) {
                    $("#FormDetailLC").submit();
                } else {
                    alert("You decided to not submit the form!");
                }
            } else if (e === '@ActionType.Reject') {
                if ($("#@Html.IdFor(m=>m.RejectToLevel)").val() === "") {
                    alert("Reject to level must be selected!.");
                } else if ($("#@Html.IdFor(m=>m.Remarks)").val() === "" || $("#@Html.IdFor(m=>m.Remarks)").val() == undefined) {
                    alert("Remarks approval must be filled!.");
                } else {
                    if (confirm("Are you really sure that you want to reject the data ?")) {
                        $("#FormDetailLC").submit();
                    } else {
                        alert("You decided to not submit the form!");
                    }
                }
            } else if (e === '@ActionType.Export') {
                if (confirm("Are you really sure that you want to export the data ?")) {
                    $("#FormDetailLC").submit();
                } else {
                    alert("You decided to not submit the form!");
                }
            } else if (e === '@ActionType.View') {
                if (confirm("Are you really sure that you want to view the data ?")) {
                    $("#FormDetailLC").submit();
                } else {
                    alert("You decided to not submit the form!");
                }
            }
        }
    }
</script>
<script>

    function GetPurchaseOrder() {
        var PONumberFA = $("#@Html.IdFor(m=>m.PONumberFA)").val();
        var url = '@Url.Action("GetPurchaseOrder", "DetailLC", new { area = "Transaction" })';
        if (PONumber !="") {
            $.ajax({
                type: "POST",
                url: url,
                data: { 'PONumber': PONumber },
                dataType: "json",
                success: function (data) {
                    try {
                        var json = data.result;
                        @*$("#@Html.IdFor(m => m.SupplierName)").val(json.SupplierName);
                        $("#@Html.IdFor(m => m.SupplierAddress)").val(json.SupplierAddress);
                        $("#@Html.IdFor(m => m.Packaging)").val(json.Packaging);
                        $("#@Html.IdFor(m => m.CabangName)").val(json.CabangName);
                        $("#@Html.IdFor(m => m.SiteName)").val(json.SiteName);
                        $("#@Html.IdFor(m => m.SiteName)").val(json.SiteName);
                        $("#@Html.IdFor(m => m.CountryOfOrigin)").val(json.CountryOfOrigin);
                        $("#@Html.IdFor(m => m.TypePembelian)").val(json.TypePembelian);
                        $("#@Html.IdFor(m => m.TypePembelian)").val(json.TypePembelian);
                        $("#@Html.IdFor(m => m.ProductName)").val(json.ProductName);
                        $("#@Html.IdFor(m => m.POCost)").data("kendoNumericTextBox").value(json.POCost);
                        $("#@Html.IdFor(m => m.POCost)").data("kendoNumericTextBox").trigger("change");*@
                    }
                    catch (e) {
                        console.log("err: " + e);
                    }
                },
                failure: function (response) {
                    console.log('fail: ');
                },
                error: function (data) {
                    console.log('err: '+data);
                }
            });
        } else {
            @*$("#@Html.IdFor(m => m.SupplierName)").val("");
            $("#@Html.IdFor(m => m.SupplierAddress)").val("");
            $("#@Html.IdFor(m => m.Packaging)").val("");
            $("#@Html.IdFor(m => m.CabangName)").val("");
            $("#@Html.IdFor(m => m.SiteName)").val("");
            $("#@Html.IdFor(m => m.SiteName)").val("");
            $("#@Html.IdFor(m => m.CountryOfOrigin)").val("");
            $("#@Html.IdFor(m => m.TypePembelian)").val("");
            $("#@Html.IdFor(m => m.TypePembelian)").val("");
            $("#@Html.IdFor(m => m.ProductName)").val("");
            $("#@Html.IdFor(m => m.POCost)").data("kendoNumericTextBox").value(0);
            $("#@Html.IdFor(m => m.POCost)").data("kendoNumericTextBox").trigger("change");*@
        }
    }

</script>